/* General styles for the page wrapper */
.page-wrapper {
    display: flex;
  }
  
  /* Styles for the menu sidebar */
  .menu-sidebar {
    width: 250px;
    background-color: #343a40;
    color: #ffffff;
    height: 100vh;
    position: fixed;
    top: 0;
    left: 0;
    overflow-y: auto;
  }
  
  .menu-sidebar .logo {
    padding: 20px;
    text-align: center;
    background-color: #007bff;
  }
  
  .menu-sidebar .logo img {
    max-width: 100%;
    height: auto;
  }
  
  .menu-sidebar-content {
    padding: 20px;
  }
  
  .navbar-sidebar {
    display: flex;
    flex-direction: column;
  }
  
  .js-arrow {
    display: block;
    padding: 15px 20px;
    color: #ffffff;
    text-decoration: none;
    font-size: 20px;
    font-weight: bold;
    background-color: #007bff;
    border-radius: 5px;
    margin-bottom: 10px;
    transition: background-color 0.3s ease;
  }
  
  .js-arrow:hover {
    background-color: #0056b3;
  }
  
  .button {
    display: block;
    padding: 10px 15px;
    color: #ffffff;
    text-decoration: none;
    font-size: 16px;
    background-color: #6c757d;
    border-radius: 5px;
    margin: 5px 0;
    transition: background-color 0.3s ease;
  }
  
  .button:hover {
    background-color: #5a6268;
  }
  
  .activebutton {
    background-color: #28a745;
  }
  
  /* Styles for the page container */
  .page-container {
    margin-left: 250px;
    padding: 20px;
    width: calc(100% - 250px);
  }
  
  /* Styles for the header */
  .header-desktop {
    background-color: #f8f9fa;
    padding: 20px;
    border-bottom: 10px solid #dee2e6;
  }
  
  
  .header-desktop .form-header {
    display: flex;
    align-items: center;
  }
  
  .header-desktop .au-input {
    flex: 1;
    padding: 10px;
    border: 1px solid #ced4da;
    border-radius: 5px;
    margin-right: 10px;
  }
  
  .header-desktop .au-btn--submit {
    padding: 10px 20px;
    background-color: #007bff;
    color: #ffffff;
    border: none;
    border-radius: 5px;
    cursor: pointer;
  }
  
  .header-desktop .au-btn--submit:hover {
    background-color: #0056b3;
  }
  
  /* Styles for the main content */
    
  .main-content {
    padding: 80px 20px;
  }
  
  .main-content h2 {
    font-size: 24px;
    margin-bottom: 10px;
  }
  
  .main-content p {
    font-size: 16px;
    color: #6c757d;
  }
  
  /* Styles for the footer */
  .footer-content {
    text-align: center;
    padding: 10px;
    background-color: #343a40;
    color: #ffffff;
    position: fixed;
    bottom: 0;
    width: 100%;
  }
  